@font-face {
  font-family: "GT-America-Mono";
  src: url("https://storage.googleapis.com/wp-bronx-storage/1/2020/09/GT-America-Mono-Regular.woff");
}

body.home #responsive-menu-button {
  display: none;
}

body {
  font-family: 'GT-America-Mono', monospace;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  cursor: url('https://storage.googleapis.com/wp-bronx-storage/1/2020/09/cursor-32x32.png') 10 0, auto !important;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #0f0;
  cursor: url('https://storage.googleapis.com/wp-bronx-storage/1/2020/09/cursor-manito-32x32.png') 10 0, auto !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

button {
  background-color: transparent;
  text-decoration: none;
  color: #0f0;
  cursor: url('https://storage.googleapis.com/wp-bronx-storage/1/2020/09/cursor-manito-32x32.png') 10 0, auto !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}


/*** Wordpress ***/

.page-content {
  margin: 0;
  padding: 0;
}

.info-container {
  display: block;
  top: 100px;
  position: relative;
  font-size: 0.8rem;
}

.site-header {
  padding: 0;
}

.entry-title {
  font-size: 1.2rem;
  color: #0f0;
  /*margin-top: -200px;*/
}

.page-template-default .entry-title,
.post-tags {
  display: none;
}

.post-template-default .responsive-menu-button {
  display: none !important;
}

.page-id-1197 .responsive-menu-button {
  display: none !important;
}

.page-id-1568 .responsive-menu-button {
  display: none !important;
}

.site-branding {
  display: none;
}


/* Setian */

.full-screen-centered {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen-centered img {
  object-fit: cover;
}

#mapa-iframe-container {
  margin: 0;
  padding: 0;
  border: 0;
}

.popup-setian-container {
  width: 100%;
  height: -webkit-fill-available;
}

.map-image-container {
  z-index: -1;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.map-image-container img {
  object-fit: cover;
  height: 100%;
}

@media (orientation: landscape) {
  .mapa-image-container img {
    height: 100%;
  }
}

@media (orientation: portrait) {
  .mapa-image-container img {
    width: 100%;
  }
}

#popmake-1572 {
  margin: 0;
  padding: 0;
  border: 0;
}

.fluid-screen {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.green-border {
  border: 10px solid #00ff00;
}

.center-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.active-button {
  pointer-events: all;
  font-size: 0.7rem;
}

.button-fdm {
  margin: 0px;
  padding: 0px;
  width: 2em;
  height: 2em;
  color: #00ff00;
  pointer-events: all;
  font-size: 0.4rem;
  text-align: left;
}

.button-left {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 55px);
}

.button-right {
  position: absolute;
  bottom: 50px;
  left: calc(50% + 15px);
}

.button-right-top {
  position: absolute;
  top: 15px;
  right: 40px;
}

.button-up {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: rotate(90deg);
}

.button-down {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: rotate(90deg);
}

.button-up .wp-block-button__link,
.button-down .wp-block-button__link {
  box-shadow: 6px -6px #000;
}

.button-top {
  position: absolute;
  top: 15px;
}

.button-bottom {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.button-bottom-left {
  position: absolute;
  bottom: 60px;
  left: 10px;
}

.button-bottom-left-2 {
  position: absolute;
  bottom: 60px;
  right: 80px;
}

.btn-map a {
  background-color: #0f0;
}

.btn-map a:hover {
  background-color: #fff;
}

.btn-map-rigth-up {
  position: absolute;
  top: 20%;
  right: 40%;
}

.btn-map-rigth-down {
  position: absolute;
  bottom: 40%;
  right: 30%;
}

.btn-map-left-up {
  position: absolute;
  top: 30%;
  left: 30%;
}

.btn-map-left-down {
  position: absolute;
  bottom: 35%;
  left: 15%;
}

.btn-map-center-up {
  position: absolute;
  top: 15%;
  left: 45%;
}

.btn-map-center-down {
  position: absolute;
  bottom: 25%;
  left: 45%;
}

.centered {
  margin-left: 45%;
}

#autoPlayTimeline {
  width: 100%;
  height: 10px;
  background-color: #00ff00;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  margin: 0;
  padding: 0;
  border: 0;
}


/* Virtual Insanity */

#virtualInsanityCanvas {
  border: 0;
  background-color: #000000;
  background-image: url("https://storage.googleapis.com/wp-bronx-storage/1/2020/09/fondo-loading-08.png");
  cursor: url('https://storage.googleapis.com/wp-bronx-storage/1/2020/09/cursor-grab-32x32.png') 10 0, auto !important;
}

#virtualInsanityCanvas:active:hover {
  cursor: url('https://storage.googleapis.com/wp-bronx-storage/1/2020/09/cursor-grabbing-32x32.png') 10 0, auto !important;
}

#virtualInsanityCanvas.horizTranslate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  left: -250px;
  top: 0%;
}

#virtualInsanityCanvas.resetPosition {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  left: 0px;
  top: 0%;
}


/* Gutenberg Modifications */

.wp-block-button__link {
  background-color: #d6d6d6;
  color: #000 !important;
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: 6px 6px #000;
  border: solid 2px #000;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
}

.wp-block-button .button-fdm-green {
  background-color: #0f0 !important;
  color: #000;
}

.button-fdm-gray.wp-block-button__link {
  background-color: #d6d6d6;
  color: #000;
}


/******ARTIST INDEX*********/

.indexItem:hover {
  color: #0f0 !important;
  background-color: #000;
}

#popmake-1521 {
  overflow-y: scroll;
  padding-right: 20px;
}

#popmake-1521,
#popmake-1521 li {
  font-size: 0.8rem;
  color: #000;
}

#popmake-1521 a:hover {
  color: #0f0;
}

p.VirtualIn_index_posts_letter.indexLetter {
  margin-bottom: 0px;
}

#popmake-1521 h1 {
  font-size: 1.5rem;
  /*color: #0f0 !important;*/
}

#pum-1521 .pum-close {
  position: absolute;
  left: 18%;
  top: 15%;
  pointer-events: all;
  z-index: 9999999990;
  height: 36px;
  width: 36px;
  padding: 0px;
  color: #0a0101;
  font-family: "Arial";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000;
  border-radius: 0px;
  box-shadow: 6px 6px 0px 0px rgba( 0, 0, 0);
  background-color: #d6d6d6;
}


/* TOOLTIPS */

div#popmake-1946,
div#popmake-1946,
div#popmake-1959 {
  max-height: 48px;
}


/* Menu responsive Plugin */

@media screen and (max-width: 8000px) {
  button#responsive-menu-button {
    box-shadow: 6px 6px #fff;
    border-radius: 0px;
  }
}

#responsive-menu-container {
  padding: 12% 0;
}


/*  Popup Maker Plugin  */

.pum-close {
  pointer-events: none;
}

.pum-content,
.popmake-content {
  height: -webkit-fill-available;
}

.pum-container.pum-scrollable .pum-content {
  border-right: dotted 2px #000;
  padding-right: 5px;
}

.pum-theme-1951 .pum-content,
.pum-theme-tooltips .pum-content {
  font-size: 0.7rem;
}


/*  PARA MOVILES  */

@media screen and (max-width: 600px) {
  .pum-theme-171 .pum-container,
  .pum-theme-cutting-edge .pum-container {
    width: 100% !important;
    padding: 0px;
    left: 0;
    right: 0;
    top: 35% !important;
    height: 65% !important;
  }
  #pum-175 .pum-close {
    left: 10px !important;
    top: -40px !important;
  }
  #virtualInsanityCanvas.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    top: -30%;
    left: 0;
  }
  #popmake-1572 {
    width: 95% !important;
    height: 70% !important;
    top: 25% !important;
    left: 2.5% !important;
  }
  #responsive-menu-container {
    padding-top: 70px;
  }
  /* Menu Artistas */
  #popmake-1521 {
    width: 95% !important;
    height: 70% !important;
    top: 25% !important;
    left: 2% !important;
    padding: 15px;
  }
  #pum-1521 .pum-close {
    position: absolute;
    left: 15px;
    top: 20%;
  }
  /* BOTONES MENÚ MAPA */
  .btn-map-rigth-up {
    position: absolute;
    top: 25%;
    right: 35%;
  }
  .btn-map-rigth-down {
    position: absolute;
    bottom: 40%;
    right: 30%;
  }
  .btn-map-left-up {
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .btn-map-left-down {
    position: absolute;
    bottom: 35%;
    left: 15%;
  }
  .btn-map-center-up {
    position: absolute;
    top: 15%;
    left: 45%;
  }
  .btn-map-center-down {
    position: absolute;
    bottom: 25%;
    left: 45%;
  }
}


/*FINAL DE MOVILES */


/* FORMULARIOS. */

.um .um-form input[type=text],
.um .um-form input[type=search],
.um .um-form input[type=tel],
.um .um-form input[type=number],
.um .um-form input[type=password],
.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  background-color: #000000;
}

a.um-button.um-disabled:active {
  background: #00ff00;
}

.um .um-form input[type=text],
.um .um-form input[type=search],
.um .um-form input[type=tel],
.um .um-form input[type=number],
.um .um-form input[type=password],
.um .um-form textarea,
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  background-color: #000000;
}

.um input[type=submit].um-button,
.um input[type=submit].um-button:focus,
.um a.um-button,
.um a.um-button.um-disabled:hover,
.um a.um-button.um-disabled:focus,
.um a.um-button.um-disabled:active {
  background: #00ff00;
}

.um .um-form input[type=text],
.um .um-form input[type=search],
.um .um-form input[type=tel],
.um .um-form input[type=number],
.um .um-form input[type=password],
.um .um-form textarea,
.um .upload-progress,
.select2-container .select2-choice,
.select2-drop,
.select2-container-multi .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above {
  border-top-color: #000000 !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: #000000 !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: #d6d6d6 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: #000000 !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-image-source: initial !important;
}

.um .um-field-label {
  color: #d6d6d6;
}

.um-field-checkbox-option,
.um-field-radio-option {
  margin: 0px 0px 0px 36px;
  line-height: 24px;
  color: #d6d6d6 !important;
  display: block;
}

.um .um-button {
  color: #000000;
}

input[type=submit].um-button,
input[type=submit].um-button:focus {
  vertical-align: middle !important;
  height: auto !important;
  font-size: 15px;
  font-weight: bolder !important;
  cursor: pointer !important;
  width: 100%;
  box-shadow: none;
  text-shadow: none;
  font-family: inherit;
  outline: none !important;
  margin: 0;
  opacity: 1;
}

input[type=submit].um-button,
input[type=submit].um-button {
  border-radius: 0 !important;
}

.um input[type=submit].um-button:hover,
.um a.um-button:hover {
  background-color: #277327;
}

a.um-button {
  font-size: 15px;
  border: none !important;
  display: block;
  width: 150%;
  line-height: 1em !important;
  padding: 20px 20px !important;
  text-decoration: none !important;
  text-align: center;
  text-transform: none !important;
  font-weight: normal !important;
  overflow: hidden;
  position: relative;
  transition: 0.25s;
  box-sizing: border-box;
}

.um .um-button.um-alt,
.um input[type=submit].um-button.um-alt {
  background: #000000;
}

.um .um-button.um-alt,
.um input[type=submit].um-button.um-alt {
  color: #d6d6d6;
}

.um .um-button.um-alt:hover,
.um input[type=submit].um-button.um-alt:hover {
  background: #000000;
}

.um-icon-help-circled:before {
  display: none;
}

.um-left.um-half {
  width: 20%
}

.um-right {
  float: none;
}

.page-content {
  padding-top: 50px;
}

.um-field-checkbox-option,
.um-field-radio-option {
  margin: 0px 0px 10px 36px;
  line-height: 24px;
  color: #d6d6d6 !important;
  display: block;
}


/* TRIVIS COLFONDOS */

.fondo-colfondos {
  background-color: #0d1c3a;
}

.caja-colfondos {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  min-height: 280px;
  color: #2b325b;
  box-sizing: content-box;
}

p.Cajita-colfondos-2 {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: px;
  color: #2b325b;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 2000px) {
  p.Cajita-colfondos-2 {
    margin-left: 200px;
    margin-right: 200px;
  }
}

h1.has-text-align-center.Observar-colfondos-2 {
  font-weight: 900;
  color: #ffdb58;
}

h2.has-text-align-center.titulos-colfondos-2 {
  font-weight: bold;
}

.page-id-3157 {
  background-color: #0d1c3a;
  background-image: url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Splash-top-left-mobile.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-3.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-2.png);
  background-position: left top, right top, right bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.page-id-3157 .wp-block-button__link {
  background-color: #d6d6d600;
  color: #ffffff !important;
  font-weight: normal;
  font-size: 0.8rem;
  border: solid 1px #ffdb58;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  box-shadow: none;
}

p.has-text-align-center.responsabilidad-colfondos-2 {
  background-color: #212662;
}

.page-id-4135 .wp-block-button__link {
  background-color: #d6d6d600;
  color: #ffffff !important;
  font-weight: normal;
  font-size: 0.8rem;
  border: solid 1px #ffdb58;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  box-shadow: none;
}

.page-id-4135 {
  background-color: #0d1c3a;
  background-image: url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-3.png);
  background-position: center, right top;
  background-repeat: no-repeat, no-repeat;
}

.titulos-colfondos-main {
  color: #ffdb58;
  font-weight: bold
}

.page-id-4135 .wp-block-column:not(:first-child) {
  margin-left: -100px!important;
}

.responsabilidad-2-colfondos-2 {
  background-color: #E0E0E0;
  color: #2b325b;
}

.page-id-4135 p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.page-id-2262 {
  background-color: #0d1c3a;
  background-image: url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Splash-top-left-mobile.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-3.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-2.png);
  background-position: left top, right top, right bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.page-id-2262 .wp-block-button__link {
  background-color: #d6d6d600;
  color: #ffffff !important;
  font-weight: normal;
  font-size: 1.3rem;
  border: solid 1px #ffdb58;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  box-shadow: none;
}

.page-id-2262 .wp-block-media-text__content {
  color: #2b325b!important;
}

.titulo-colfondos-3 {
  color: #ffdb58;
  font-weight: bold
}

.page-id-4398 {
  background-color: #0d1c3a;
  background-image: url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Splash-top-left-mobile.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-3.png), url(https://storage.googleapis.com/wp-bronx-storage/1/2020/10/Webp.net-resizeimage-2.png);
  background-position: left top, right top, right bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.page-id-4398 .wp-block-button__link {
  background-color: #d6d6d600;
  color: #ffffff !important;
  font-weight: normal;
  font-size: 1.3rem;
  border: solid 1px #ffdb58;
  padding: 0.2rem 0.7rem 0.3rem 0.7rem;
  box-shadow: none;
}

.page-id-4398 .wp-block-media-text__content {
  color: #2b325b!important;
}

.page-id-4398 .caja-colfondos {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  height: auto;
  min-height: 380px;
  color: #2b325b;
  box-sizing: content-box;
}

.responsabilidad-colfondos-3 {
  background-color: #212662;
}


/* MENU CARPETAS */

.menu-carpetas-container {
  width: 100%;
}

.menu-carpetas {
  position: absolute;
  background-color: #d6d6d6;
  border-style: solid;
  border-color: black;
  box-shadow: 6px 6px #000000;
  padding: 20px;
  width: 550px;
}

.menu-carpetas p {
  font-size: 0.7rem;
}

.menu-carpetas-1 {
  top: 10px;
  left: 10px;
}

.menu-carpetas-2 {
  top: 120px;
  left: 360px;
}

.menu-carpetas-3 {
  top: 300px;
  left: 25%;
}

@media (max-width: 1024px) {
  .menu-carpetas {
    position: relative;
    margin: 0;
  }
  .menu-carpetas-1 {
    top: auto;
    left: 10px;
    margin: 0 auto;
  }
  .menu-carpetas-2 {
    top: auto;
    left: 10px;
    margin: 0 auto;
  }
  .menu-carpetas-3 {
    top: auto;
    left: 10px;
    margin: 0 auto;
  }
}


/* INFO ARTISTAS */

.artWorkContainer {
  margin-top: 25px;
}

.imageContainerSheet {}

.technicalSheet {}


/*
.menu-carpertas-1 {
  position: absolute;
  top: 0px;
  left: 5%;
  width: 450px;
  border-style: solid;
  border-color: black;
  padding: 10px 30px;
  background-color: lightgrey;
  box-shadow: 6px 6px #000000;
}

.menu-carpertas-1 .wp-block-column {
  margin: 10px !important;
}

.menu-carpertas-1 p {
  font-size: 0.7rem;
}

.menu-carpertas-3 p {
  font-size: 0.7rem;
}

.menu-carpetas-2{
  width: 450px;
  border-style: solid;
  border-color: black;
  margin-left: 400px;
  margin-top: 200px;
  padding: 10px 30px;
  background-color: lightgrey;
  box-shadow: 6px 6px #000000;
}


.menu-carpertas-2 p {
  font-size: 0.7rem;
}


.menu-carpetas-3 {
  border-style: solid;
  border-color: #0a0a0a;
  margin-left: 350px;
  margin-right: 35px;
  margin-top: 190px;
  background-color: lightgrey;
  box-shadow: 6px 6px #000000;
}

wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
  display: table-row-group;
  caption-side: bottom;
}

figcaption {
  font-size: 10px;
  color: #333;
  line-height: 1.4;
  font-style: italic;
  font-weight: 400;
}

.wp-block-column:not(:first-child) {
  margin-left: 2px;
}

figure.wp-block-image.size-large.is-resized {
  margin: 0 40px;
}
*/


/*
@media (max-width: 991px) {
  .menu-carpetas{
	position: absolute;
}
}*/